a {
  text-decoration: none;
}
.container {
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
  box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
}
.image_container {
  height: 150px;
  width: 300px;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.middle_container {
  padding: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .date_container {
    font-weight: 700;
    font-size: 14px;
    color: #777;
    padding-top: 5px;
  }
  .category_container {
    border: 2px solid rgb(105, 175, 255);
    border-radius: 20px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 800;
    color: rgb(105, 175, 255);
  }
}

.title_container {
  padding: 10px;
  font-size: 20px;
  font-weight: 800;
  color: black;
  line-height: 30px;
}
