$sp: 700px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.container {
  width: 100%;
}
.header {
  height: 65px;
  width: 100%;
  background: black;
}
.post_list_container {
  width: 1230px;
  margin: 0 auto;
  padding-top: 40px;
  @include sp {
    display: none;
  }
}
.sp_post_list {
  display: none;
  @include sp {
    display: block;
  }
}
.post_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .first_container {
  }
  .second_container {
    display: flex;
    flex-direction: column;
  }
  .third_container {
    display: flex;
    flex-direction: column;
  }
}
.rectangle_link_container {
  padding: 0 5px;
}
