.container {
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  -webkit-box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
  box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
  justify-content: center;
  align-items: center;
}
.image_container {
  height: 250px;
  width: 250px;
  margin-top: 30px;
  img {
    width: 100%;
    height: 100%;
    border-radius: 125px;
    object-fit: contain;
  }
}
.name {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 600;
  width: 300px;
}
.bio {
  margin-top: 10px;
  width: 300px;
}
.sns {
  margin-top: 20px;
  a {
    padding: 3px 10px;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
