$sp: 700px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
.header {
  height: 65px;
  width: 100%;
  background: black;
}
.container {
  width: 100%;
  padding: 20px;
  h3 {
    margin-left: 20px;
  }
  @include sp {
    padding: 0 5px;
  }
  .normal_table {
    width: 500px;
    margin-left: 100px;
    border: none;
    tr {
      td {
        border: none;
        &:nth-child(2),
        &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }
}
