$sp: 700px; // スマホ

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
.arrow_container {
  position: relative;
  width: 100%;
  height: 100vh;
}
.arrow {
  position: absolute;
  bottom: 2vh;
  left: 48%;
  color: white;
  &:visited {
    color: white;
  }
  &:hover {
    .font_awesome_arrow {
      color: #555;
    }
  }
  .font_awesome_arrow {
    font-size: 30px;
    @include sp {
      font-size: 20px;
    }
  }
}
.body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN",
    "Hiragino Sans", Meiryo, sans-serif;
  span {
    font-size: 30px;
  }
  p {
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    margin: 40px 0;
    @include sp {
      font-size: 14px;
      line-height: 26px;
      margin: 20px 0;
    }
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    padding-top: 20px;
  }
  h2 {
    @include sp {
      font-size: 20px;
    }
  }
  h3 {
    @include sp {
      font-size: 18px;
    }
  }

  blockquote {
    border-left: 7px solid rgb(102, 102, 102);
    p {
      color: rgb(75, 75, 75);
      padding: 15px 15px;
    }
  }
}
.tag_and_time_container {
  position: absolute;
  bottom: 7vh;
  color: white;
  margin: 0 50px;
  font-weight: 600;
  font-size: 18px;
  @include sp {
    font-size: 16px;
    margin: 0 30px;
  }

  .date_container {
    display: flex;
    flex-direction: row;
    color: white;
    @include sp {
      flex-direction: column;
    }

    .font_awesome_create {
      margin-right: 6px;
      @include sp {
        margin-right: 5px;
      }
    }
    .font_awesome_update {
      margin-right: 6px;
      margin-left: 10px;
      @include sp {
        margin-right: 5px;
        margin-left: 0;
      }
    }
  }
  .tags_container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 8px;
    .tag_container {
      padding: 2px 7px;
      border: 2px solid white;
      margin-right: 10px;
      border-radius: 5px;
      position: relative;
      z-index: 15;
      @include sp {
        padding: 1px 5px;
      }
    }
  }
}
.top_container {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: -3;
  img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -10;
  }
  .top_div_container {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    .top_titles_container {
      width: 700px;
      @include sp {
        width: 80%;
      }
      margin: 40vh auto;
      color: white;
      .title {
        font-size: 38px;
        @include sp {
          font-size: 28px;
        }
        &:before {
          content: "『";
        }
        &:after {
          content: "』";
        }
      }
    }
  }
}

.container {
  width: 100%;
}

.body_container {
  width: 60%;
  padding: 50px 40px;
  @include sp {
    width: 90%;
    padding: 30px 10px;
  }
  margin: 0 auto;

  .author {
    border-top: 1px solid rgb(170, 170, 170);
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 25px;
    .author_avatar_container {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        border-radius: 125px;
        object-fit: contain;
      }
    }
    .author_info_container {
      padding: 20px 20px 0 20px;
      .author_name {
        font-size: 24px;
        font-weight: 700;
        @include sp {
          font-size: 20px;
          font-weight: 600;
        }
      }
      .author_bio {
        margin-top: 10px;
      }
    }
  }
}

.right_container {
  width: 30%;
}
