a {
  text-decoration: none;
}
.container {
  width: 300px;
  height: 300px;
  margin: 3px;
  position: relative;
  &:hover {
    .content {
      height: 100%;
      transition-duration: 0.3s;
      padding-top: 40%;
      .date_container {
        font-size: 16px;
        padding-top: 0;
        padding-left: 10px;
      }
      .title_container {
        padding: 0 10px 0 10px;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

.image_container {
  height: 100%;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.content {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.7);
  color: white;

  .date_container {
    font-size: 12px;
    padding-top: 15px;
    padding-left: 10px;
  }

  .title_container {
    padding: 0 10px 0 10px;
    font-size: 16px;
    font-weight: 700;
  }
}
