.container {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 30px;
}
.left_container {
  width: 70%;
  padding: 10px;
  .rectangle_link_container {
    margin-top: 40px;
  }
}
.right_container {
  width: 30%;
  padding: 10px;
}
