a {
  text-decoration: none;
}
.container {
  width: 100%;
  background: white;
  height: 100px;
  display: flex;
  margin: 10px 0;
  flex-direction: row;
  -webkit-box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
  box-shadow: 3px 4px 10px -4px rgba(0, 0, 0, 0.89);
}
.image_container {
  height: 100px;
  width: 20%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.right_container {
  padding: 10px;
  width: 80%;
  .right_top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .date_container {
      font-weight: 700;
      font-size: 12px;
      color: #777;
    }
    .category_container {
      border: 2px solid rgb(105, 175, 255);
      border-radius: 10px;
      padding: 0 4px;
      font-size: 12px;
      font-weight: 600;
      color: rgb(105, 175, 255);
    }
  }

  .title_container {
    padding-top: 5px;
    font-size: 14px;
    font-weight: 700;
    color: black;
  }
}
