$sp: 700px;

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}
.header {
  height: 65px;
  width: 100%;
  background: black;
}
.container {
  width: 100%;
  @include sp {
    padding: 0 5px;
  }
}
.post_container {
  width: 1240px;
  margin: 20px auto;
  display: flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: wrap;

  @include sp {
    display: none;
  }

  .first_container {
  }
  .second_container {
    display: flex;
    flex-direction: column;
  }
  .third_container {
    display: flex;
    flex-direction: column;
  }
}

.sp_post_container {
  display: none;
  @include sp {
    display: block;
  }
}
