$sp: 700px; // スマホ

@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.header_container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: bottom;
  @include sp {
    justify-content: space-between;
  }
}
.title {
  font-size: 24px;
  font-weight: 600;
  color: white;
  text-decoration: none;
  @include sp {
    font-size: 18px;
  }
}

.links_container {
  @include sp {
    display: none;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    display: inline-block;
    padding-left: 15px;
    margin: 0;
  }
  ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
    padding-left: 2px;
  }

  ul li a:hover {
    color: #e7da66;
  }
}

.hamburger_menu {
  display: none;
  @include sp {
    display: block;
  }
}

.menu_btn {
  position: absolute;
  top: 0;
  right: 10px;
  display: flex;
  height: 60px;
  width: 60px;
  justify-content: center;
  align-items: center;
  z-index: 90;
}
.menu_btn span,
.menu_btn span:before,
.menu_btn span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
.menu_btn span:before {
  bottom: 8px;
}
.menu_btn span:after {
  top: 8px;
}

#menu_btn_check {
  display: none;
}

#menu_btn_check:checked ~ .menu_btn span {
  background-color: rgba(255, 255, 255, 0);
  &:before {
    bottom: 0;
    transform: rotate(45deg);
  }
  &:after {
    top: 0;
    transform: rotate(-45deg);
  }
}

#menu_btn_check:checked ~ .menu_content {
  top: 0px;
}

.menu_content {
  width: 100%;
  height: auto;
  position: absolute;
  top: -350px;
  left: 0; /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.5s; /*アニメーション設定*/
}
.menu_content ul {
  padding: 70px 10px 0;
}
.menu_content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}
.menu_content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu_content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}
