.navigation {
  width: 100%;
  height: 40px;
  background: rgb(32, 32, 32);
  text-align: left;
}

.navigation ul {
  margin: 0;
  padding: 0;
  height: 100%;
  padding-top: 8px;
}
.navigation ul li {
  list-style: none;
  display: inline-block;
  padding-left: 15px;
}
.navigation ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding-left: 2px;
}
.navigation ul li.current a {
  color: #f33135;
}
.navigation ul li a:hover {
  color: #e7da66;
}
